<app-admin-page-header></app-admin-page-header>

<app-admin-page-navigation></app-admin-page-navigation>

<main role="main">

  <section class="panel important">
    <app-admin-page-user-navigation></app-admin-page-user-navigation>
  </section>

  <section class="panel important">
    <app-admin-page-user-table [userTable]="true"
                               [userData]="userList"
                               (disableUser)="disableUser($event)"
                               [pageSize]="pageSize"
                               [pageIndex]="pageIndex"
    ></app-admin-page-user-table>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="handlePageEvent($event)">
    </mat-paginator>
  </section>

</main>
