.navigation-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.nav-list-item {
  margin: 0 1rem;
}

.nav-link {
  text-decoration: none;
  font-weight: 700;
  padding: 0.25rem 0;
  color: var(--header-color);
}

.nav-link:hover,
.nav-link:focus {
  color: black;
}

.active {
  border-bottom: var(--dark-border);
}

.active:hover {
  color: var(--header-color);
  cursor: default;
}

@media (max-width: 30.5rem) {
  .navigation-list {
    display: block;
    text-align: center;
  }

  .nav-list-item {
    display: block;
    margin: 1rem;
  }
}
